nav {
    background-color: red;
}

main.kontainer-content header.first .dropdownMenu {
    position: absolute;
    display: flex;
    width: 270px;
    height: auto;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    top: 0px;
    opacity: 0;
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.3s;
    visibility: hidden;
}

main.table {
    height: 110vh;
    overflow: hidden;
    background: linear-gradient(181deg, #00a2e9 85%, rgba(255, 255, 255, 0.63) 100%);
    padding: 10px;
    /* padding-bottom: 0px; */
    margin: 0px;
    z-index: none;
}

section.table__body {
    width: 100%;
    height: auto;
    z-index: none;
    /* max-height: calc(89% - 1.6rem); */
    /* background-color: #fffb; */
    background-color: #d5d1defe;
    /* overflow: auto; */
    /* overflow: overlay; */
}

thead,
th {
    background-color: #d5d1defe;
    z-index: none;
}

td {
    padding: 0.5rem !important;
}

tbody tr {
    background-color: #fff;

}

tbody tr td {
    text-align: center;

}

tbody tr:hover {
    background-color: #2789da;
}

/* .status {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
}

.masuk {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background-color: red;
} */
nav.close {
    z-index: 2;
}

main.kontainer-content header.first {
    z-index: 0;
}

.table {
    background-color: red;
}

@media screen and (max-width:576px) {
    * {
        box-sizing: border-box;
        font-size: 15px;
    }

    li {
        z-index: 0;
    }

    table.table__body {
        width: auto;
        height: 110vh;
    }

    table,
    th,
    td {
        padding: 0rem !important;
        /* display: flex; */
        align-items: center;
        flex-direction: row;
    }

    main.table {
        height: 110vh;
        overflow: scroll;
    }
}