* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: linear-gradient(181deg, #00a2e9 85%, rgba(255, 255, 255, 0.63) 100%);
}

body.kontainer {
    font-family: "Poppins", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    /* background: var(--background-color); */
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Navbar Side */
.navigasi {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 18.5%;
    transition: all 2s ease;
    z-index: 2;
}

.wrapperNav {
    position: sticky;
    top: 0;
    left: 0;
}

nav header {
    /* margin-top: 10px; */
    display: flex;
    padding: 57px 14px 28px;
    justify-content: center;
}

nav header .text .nama-lengkap {
    color: white;
    font-size: 38px;
    letter-spacing: 2px;
}

nav header .text .sekolah {
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

nav main {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

nav main .menu-links {
    border-top: 3px solid black;
    width: 100%;
    padding: 0px;
}

nav main .menu-links .nav-link {
    height: 50px;
    width: 100%;
    margin-top: 40px;
    border-bottom: 3px solid black;
}

nav main .menu-links .nav-link a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

nav main .menu-links .nav-link:hover {
    box-shadow: 5px 5px 20px 5px black;
    border-radius: 50px;
    transition: 0.8s;
}

nav main .menu-links .nav-link#aktif {
    box-shadow: 5px 5px 20px 5px black;
    border-radius: 50px;
    width: 100%;
    background: var(--background-color);
    /* background-color: black; */
}

/* Main Content */
main.kontainer-content {
    display: flex;
    flex-direction: column;
    width: 81.5%;
    box-sizing: border-box;
    height: 100vh;
}

main.kontainer-content header.first {
    background-color: white;
    display: flex;
    justify-content: right;
    padding: 20px 60px 15px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 0;
}

main.kontainer-content header.first .dropdownMenu {
    position: absolute;
    display: flex;
    width: 270px;
    height: auto;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    top: 0px;
    opacity: 0;
    box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: 0.3s;
    visibility: hidden;
}

main.kontainer-content header.first .dropdownMenu.active {
    top: 95px;
    opacity: 1;
    visibility: visible;
}

main.kontainer-content header.first .dropdownMenu::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 20px;
    width: 25px;
    height: 30px;
    background: #f5f5f5;
    transform: rotate(45deg);
}

main.kontainer-content header.first .dropdownMenu img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin-top: 5px;
    margin-left: 5px;
    border: 2px solid;
}

main.kontainer-content header.first .dropdownMenu .wrapper-user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 10px 5px;
    border-bottom: 2px solid;
}

main.kontainer-content header.first .dropdownMenu .wrapper-a {
    padding: 5px 10px;
    border-bottom: 2px solid;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

main.kontainer-content header.first .dropdownMenu .wrapper-a a {
    text-decoration: none;
    color: #00a2e9;
}

main.kontainer-content header.first .dropdownMenu .wrapper-logout {
    font-size: 20px;
    gap: 10px;
    padding: 5px 10px;
    display: flex;
    width: 35%;
    height: 40px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

main.kontainer-content header.first .dropdownMenu .wrapper-logout a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: 800;
}

main.kontainer-content header.first .wrapper-name {
    display: flex;
}

.wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}

.wrapper-icon i {
    display: none;
}

nav .wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}

nav .wrapper-icon i {
    display: none;
}

main.kontainer-content header.first .user-text {
    display: flex;
    align-items: center;
    border-right: 2px solid;
    padding-right: 6px;
    font-size: 28px;
}

main.kontainer-content header.first .wrapper-name .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 5px;
    margin-left: 5px;
    border: 2px solid;
    cursor: pointer;
}

main.kontainer-content header.second {
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    padding: 25px 25px 25px 85px;
    font-size: 28px;
    z-index: -1;
}


/* Responsive */
@media screen and (max-width: 576px) {
    body.kontainer {
        width: 100%;
        height: 100vh;
    }

    .navigasi {
        left: -1000px;
        position: absolute;
        width: 60%;
        border-radius: 15px;
        transition: all 0.3s ease;
        z-index: 2;
    }

    nav.close {
        left: 0;
        height: 100vh;
        display: flex;
        background: linear-gradient(87deg, #00a2e9 60%, rgba(255, 255, 255, 0.63) 120%);
        z-index: 2;
    }

    main.kontainer-content {
        height: 100%;
        width: 100%;
    }

    main.kontainer-content header.first {
        padding: 10px 15px 10px;
        position: sticky;
        top: 0;
        display: flex;
        z-index: 1;
    }

    main.kontainer-content header.first .wrapper-first {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
    }

    main.kontainer-content header.second {
        display: none;
    }

    .wrapper-icon {
        position: absolute;
        height: 80px;
        width: 60px;
    }

    .wrapper-icon i {
        display: flex;
        cursor: pointer;
        z-index: 4;
        position: fixed;
    }

    nav .wrapper-icon i {
        display: flex;
        cursor: pointer;
        position: relative;
    }
}